html,
body {
  background: #f1ece2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Caveat", cursive;
}

.logo,
.chapter {
  text-align: center;
}

.chapter > img {
  width: 10em;
  padding: 25px;
}

.main {
  width: 1200px;
  margin: 0 auto;
}

article,
p {
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  text-align: justify;
}

#footer {
  text-align: center;
  margin: 1em 1em 0;
}
